
* {
  margin: 0;
}

body{
  background: black;
}

.bigContainer{
  width: 100%;
  height: 100vh;
  background: black;
  overflow-y: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.btn{
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: 3em;
}

.container{
  visibility: hidden;
  width: 0%;
  height: 0vh;
  display: flex;
  flex-direction: row-reverse;
  
}

.infoContainer{
  
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 1em;
  width: 95%;
  margin-left: 5%;
  height: 60vh;
  background: transparent
  
}

#hintText{visibility: hidden;}



.sliderInput{
  width: 30%;
}
.inclinationContainer {

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Movementcontainer{
  background: rgba(1, 63, 1, 0.589);
  width: 50%;
  height: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". forward ."
    "left . right"
    ". behind ."; 
}


#btnW{
  grid-area: forward;
}

#btnA{
  grid-area: left;
}


#btnS{
  grid-area: behind;
}



#btnD{
  grid-area: right;
}


/* smartphones */
@media only screen and (max-width: 768px)   {
  
  body{
    width: 100%;
    height: auto;
  }
  .container{
    visibility: visible;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
  }
  canvas{
    width: 100%;
    height: 70%;
  }

  .bigContainer{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 15%;
  }
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    background: black;
  
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .container{
    visibility: visible;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
  }
  .bigContainer{
    width: 100%;
    height: 130vh;
  
  }
  
  canvas {
    width: 100%;
    height: 70%;
    display: block;
  }
 
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200vh;
    background: red;
  
  }
  .Movementcontainer{
    background: rgba(1, 63, 1, 0.589);
    width: 50%;
    height: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". forward ."
      "left . right"
      ". behind ."; 
  }
  .btn{
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }
}


/*tablets*/
@media only screen and (min-width: 769px) and (max-width: 1366px){
  
  .container{
    visibility: visible;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
   
  }
  canvas {
    width: 100%;
    height: 50%;
    display: block;
  }
  .bigContainer{
    width: 100%;
    height: 120vh;
    overflow-y: auto;
  }
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150vh;
    background: black;
  
  }
  .btn{
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }
}

@media only screen and (min-width:1368px) {
  #hintText{visibility: visible;}
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    background: black;
  
  }
}

