
* {
  margin: 0;
  
}

body{
  background: black;
}

.bigContainer{
  width: 100%;
  height: 100vh;
  background: red;
  overflow-y: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.btn{
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: 3em;
}

.container{
  visibility: hidden;
  width: 0%;
  height: 0vh;
  display: flex;
  flex-direction: row-reverse;
  
}

.infoContainer{
  
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 1em;
  width: 95%;
  margin-left: 5%;
  height: 60vh;
  background: transparent
  
}





.sliderInput{
  width: 30%;
}
.inclinationContainer {

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Movementcontainer{
  background: rgba(1, 63, 1, 0.589);
  width: 50%;
  height: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". forward ."
    "left . right"
    ". behind ."; 
}


#btnW{
  grid-area: forward;
}

#btnA{
  grid-area: left;
}


#btnS{
  grid-area: behind;
}



#btnD{
  grid-area: right;
}


/* Tablet and smartphones */
@media only screen and (max-width: 768px) and (max-width: 1024px) {
  
  .container{
    visibility: visible;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row-reverse;
   
  }
  .bigContainer{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    background: black;
  
  }
}
