
* {
  margin: 0;
}

body{
  background: black;
  overflow-x: hidden;
}

.bigContainer{
  width: 100%;
  height: 100vh;
  background: black;
  margin-bottom: 8%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.btn{
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: 3em;
}

.container{
  visibility: hidden;
  width: 0%;
  height: 0vh;
  display: flex;
  flex-direction: row-reverse;
  
}

.infoContainer{
  
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 1em;
  width: 90%;
  height: 60vh;
  background: transparent
  
}

#hintText{visibility: hidden;}



.sliderInput{
  width: 30%;
}
.inclinationContainer {

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Movementcontainer{
  background: rgba(1, 63, 1, 0.589);
  width: 50%;
  height: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". forward ."
    "left . right"
    ". behind ."; 
}


#btnW{
  grid-area: forward;
}

#btnA{
  grid-area: left;
}


#btnS{
  grid-area: behind;
}



#btnD{
  grid-area: right;
}


/* smartphones */
@media only screen and (max-width: 768px)   {
  
  .container{
    visibility: visible;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row-reverse;
   
  }
  .bigContainer{
    width: 100%;
    height: 110vh;
    overflow-y: visible;
  }
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: black;
  
  }
}

/*smartphone girato in landscape*/
@media only screen and (max-height: 560px) and (orientation: landscape) {
  body{
    overflow-x: hidden;
  }
  .container{
    visibility: visible;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row-reverse;
  }
  .bigContainer{
    width: 100%;
    height: 130vh;
  
  }
 
  canvas {
    width: 100%;
    height: 50%;
    display: block;
  }
  .infoContainer{
    width: 100%;
    height: 170vh;
    background: black;
  }


  .btn{
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }
}


/*tablets*/
@media only screen and (min-width: 900px) and (max-width: 1368px){
  body{
    overflow-x: hidden;
  }

  .container{
    visibility: visible;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
   
  }
  canvas {
    width: 100%;
    height: 50%;
  
  }
  .bigContainer{
    width: 100%;
    height: 122vh;
  }
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: black;
  
  }
  
  .btn{
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }
}

@media only screen and (min-width:1368px) {
  #hintText{visibility: visible;}
  .infoContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    background: black;
  
  }
}

